body{
    background-color: #eceff1;
    height: 100vh;
    margin: 0;
    min-width: 269px;
}

img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#form-card{
    margin-top: 5vh; 
}

#footer{
    height: 5vh;
  color: white;
  text-align: center;
}

#id_form{
    background-color: rgb(249, 249, 249); 
    border: none;
    width: 30px;
    outline: none;
}

#destaque{
    text-decoration: none;
    color: black;
}
#destaque:hover{
    color: rgb(13, 68, 172);
}